* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color:black;
    color: whitesmoke;
    display: flex;
    font-family: sans-serif;
    font-size: 40px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.time {
    margin-left: 30%;
}

@media screen and (min-width: 768px) {
    .container {
        font-size: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        font-size: 120px;
    }
}
